.cinema {
  position: relative;
  box-sizing: border-box;
}

.cinema form {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.cinema__select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  padding-top: 30px;
  padding-bottom: 33px;
  border-top: 1px solid rgb(241, 241, 241);
}

.cinema__select-button {
  font-size: 16px;
  font-weight: normal;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  border: 1px rgb(241, 241, 241) solid;
  background-color: rgb(241, 241, 241);
  width: 118px;
  min-height: 40px;
}
/////////////////////////////////////////////////////////////////////////////////////

.cinema__head-input {
  border: 1px solid rgb(241, 241, 241);
  min-height: 38px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 10px;
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
  outline: none;
  cursor: pointer;
  margin-right: 30px;
}

.cinema__lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.cinema__list {
  position: relative;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 15px;
}

.cinema__list:focus,
.cinema__list:hover {
  padding-right: 9px;
  padding-top: 9px;
}

.cinema__list:focus .name,
.cinema__list:hover .name {
  color: #1e46db;
}

.cinema__list:focus::before,
.cinema__list:hover::before {
  content: "";
  display: block;
  width: 30px;
  height: 50px;
  background-image: url("../img/css-sprite.png");
  background-position: -50px 10px;
  background-repeat: no-repeat;
  position: absolute;
  top: -6px;
  right: 10px;
}

.cinema__list1 {
  margin-bottom: 0;
  margin-top: 24px;
  height: 134px;
  margin-right: 5px;
}

.cinema__hide {
  display: none;
}

.cinema__sort {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 17px;
  height: 60px;
  border: none;
  border-top: 1px solid rgb(241, 241, 241);
  border-bottom: 1px solid rgb(241, 241, 241);
  background: #ffffff;
  font-size: 12px;
  font-weight: 500;
  color: rgb(153, 153, 153);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.cinema__list1:nth-of-type(n+3),
.cinema__list:nth-of-type(n+3) {
  display: none;
}
@media (min-width: 490px) {
  .cinema__list1:nth-of-type(3),
  .cinema__list:nth-of-type(3) {
    display: block;
  }
}
@media (min-width: 640px) {
  .cinema__list1:nth-of-type(4),
  .cinema__list:nth-of-type(4) {
    display: block;
  }
}
@media (min-width: 877px) {
  .cinema__list1:nth-of-type(5),
  .cinema__list:nth-of-type(5) {
    display: block;
  }
}
@media (min-width: 1047px) {
  .cinema__list1:nth-of-type(6),
  .cinema__list:nth-of-type(6) {
    display: block;
  }
}
@media (min-width: 360px) {
  .cinema__list .img-kub {
    width: 150px;
    height: 220px;
  }

  .cinema__list:focus .img-kub,
  .cinema__list:hover .img-kub {
    width: 155px;
    height: 225px;
    box-sizing: border-box;
  }
}

.cinema__select-block {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cinema__argument {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.cinema__argument--show {
  display: none;
}

.cinema__argument1,
.cinema__argument4 {
  width: 270px;
}

.cinema__head-input1,
.cinema__head-input4 {
  width: 248px;
}

.cinema__argument2 {
  width: 170px;
}

.cinema__head-input2 {
  width: 148px;
}

.cinema__argument3 {
  width: 220px;
}

.cinema__head-input3 {
  width: 198px;
}

.cinema__head-input:focus,
.cinema__head-input:hover {
  border-color: #3538cb;
}

.cinema__argument {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 47px;
  max-height: 340px;
  overflow: hidden;
  z-index: 10;
}

.cinema__argument-input {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: normal;
  color: #666666;
  line-height: 1.2;
  text-align: left;
  padding-left: 20px;
  padding-top: 14px;
  border: none;
}

.cinema__argument-input--active {
  font-weight: 500;
  color: #3538cb;
}
@media (min-width: @size-tablet) {

  .cinema__sort {
    display: none;
  }

  .cinema__hide {
    display: flex;
  }

  .cinema__select {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: @size-desktop) {
  .cinema__lists {
    align-items: center;
    margin: 0;
  }

  .cinema__list {
    margin-bottom: 45px;
    margin-right: 0;
  }

  .cinema__list .img-kub {
    width: 170px;
    height: 250px;
  }

  .cinema__list:focus .img-kub,
  .cinema__list:hover .img-kub {
    width: 175px;
    height: 255px;
    box-sizing: border-box;
  }

  .cinema__list1 {
    height: 169px;
    margin-top: 27px;
    margin-right: 20px;
  }

  .cinema form {
    margin-top: 33px;
  }

  .cinema__select {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 0;
  }
}
