.title {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bg {
  background-color: #f1f1f1;
}

.title__name {
  font-size: 14px;
  font-weight: bold;
  color: rgb(153, 153, 153);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-top: 69px;
  margin-bottom: 56px;
}


.slider__lists,
.circle__lists,
.kub__lists {
  display: flex;
  // align-items: flex-start;
  margin-left: 20px;
  padding-bottom: 89px;
}

.kub__lists {
  padding-bottom: 137px;
}


.wrapper {
  overflow: hidden;
}

.limit {
  display: flex;
  min-width: 320px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  margin-bottom: -20px;
}

.name {
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 0;
  // min-height: 28px;
}

.name:hover,
.name:focus {
  cursor: pointer;
  color: #1e46db;
}

.category {
  font-size: 11px;
  font-weight: normal;
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: center;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 6px;
  // min-height: 26px;
}

.mark {
  font-size: 11px;
  color: rgb(255, 254, 254);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  background-color: rgb(238, 49, 56);
  width: 31px;
  // min-height: 17px;
}



.underline {
  border: 2px solid red;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.all__link {
  display: block;
  position: absolute;
  bottom: -560px;
  right: 50%;
  transform: translateX(50%);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: rgb(153, 153, 153);
}

.bottom__link {
  bottom: -530px;
}

.select__link {
  bottom: -310px;
}

.text {
  display: none;
  font-size: 14px;
  font-weight: normal;
  color: rgb(0, 0, 0);
  line-height: 1.571;
  text-align: left;
}

.info {
  font-size: 12px;
  font-weight: normal;
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: left;
  display: flex;
}

.info::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 16px;
  background: url("../img/flag.png") no-repeat;
  margin-right: 10px;
}

.slider__list {
  text-align: left;
}
.circle__list,
.kub__list {
  text-align: center;
  // min-height: 195px;
}


.header__block {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.bookmark__lists,
.rating__lists {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: flex;
  margin: 0 20px;
}

.bookmark__lists {
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgb(241, 241, 241);
  border-bottom: 1px solid rgb(241, 241, 241);
  margin-top: 40px;
  margin-bottom: 50px;
  position: relative;
}

.bookmark__list p {
  font-size: 12px;
  font-weight: normal;
  color: rgb(102, 102, 102);
  text-transform: uppercase;
  line-height: 1.667;
}

.rating__lists {
  justify-content: space-around;
  max-width: 510px;
}

.rating__list p {
  font-size: 12px;
  font-weight: normal;
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: left;
}

.rating__list p span {
  font-weight: bold;
  color: #010101;
}

.rating__list:last-child {
  display: none;
}

.title__inside h1 {
  font-size: 18px;
  font-weight: 900;
  color: rgb(1, 1, 1);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.no-mobile__text,
.nomobile {
  display: none;
}

.bookmark__icon2,
.bookmark__icon1 {
  position: relative;
  margin-left: 40px;
}
.bookmark__icon2::before,
.bookmark__icon1::before {
  content: "";
  background: url("../img/css-sprite.png") no-repeat;
  width:  30px;
  height: 24px;
  display: flex;
  position: absolute;
  top: 0;
  left: -35px;
}
.bookmark__icon1::before {
  background-position: -54px -10px;

}
.bookmark__icon2::before {
  background-position: -10px -10px;
}

@media (min-width: @size-tablet) {
  .no-mobile__text {
    display: inline;
  }
  .title__name {
    font-size: 24px;
    color: rgb(0, 0, 0);
  }

  .rating__lists {
    justify-content: space-between;
  }

  .rating__list:last-child {
    display: flex;
  }

  .header__block {
    align-items: flex-start;
  }

  .all__link {
    top: 74px;
    right: 200px;
    bottom: 0;
  }


  .name {
    font-size: 16px;
  }

  .kub__list {
    width: 170px;
  }

  .circle__list {
    width: 100px;
  }

  .category {
    font-size: 12px;
  }
  .slider__lists,
  .programms__lists,
  .programm__lists,
  .kub__lists,
  .circle__lists {
    margin-left: 0;
  }

  .bookmark__lists {
    flex-direction: row;
    justify-content: flex-start;
  }

    .bookmark__list {
      margin-right: 40px;
    }
    .underline {
      width: 110px;
      height: 110px;
    }
}
@media (min-width: @size-desktop) {
  .text {
    display: block;
  }


  .header__block {
    margin-left: 0;
    margin-right: 0;
  }

  .bookmark__lists,
  .rating__lists {
    margin-left: 0;
  }

  .nomobile {
    display: inline;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
  }
}
