.title {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.popular .title {
  padding-top: 30px;
}

.popular .circle__lists {
  padding-bottom: 18px;
}

.bg {
  background-color: #f1f1f1;
}

.title__name {
  font-size: 14px;
  font-weight: bold;
  color: rgb(153, 153, 153);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px;
}


.popular .title__name {
  margin-top: 20px;
}

.films .title__name {
  margin-top: 40px;
  margin-bottom: 25px;
}

.serial .title__name {
  margin-top: 35px;
}

.programms .title__name {
  margin-top: 47px;
  margin-bottom: 38px;
}

.circle__lists,
.kub__lists,
.slider__lists {
  display: flex;
  margin-left: 20px;
  outline: none;
}

.slider__lists .slick-slide {
  width: 207px!important;
  margin-left: 5px;
}

.slider__lists {
  margin-top: 9px;
  padding-bottom: 100px;
}

.slider__lists .name {
  font-size: 13px;
  text-align: left;
  margin-top: 15px;
}

.slider__lists .category {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sport .bottom__link {
  bottom: 495px;
}
// .kub__lists {
//   padding-bottom: 137px;
// }

.kub__lists .slick-slide {
  width: 130px!important;
  margin-left: 5px;
}

.kub__list .category,
.kub__list .name {
  text-align: left;
}

.circle__lists .slick-slide {
  width: 130px!important;
  margin-left: 20px;
}

.wrapper {
  overflow: hidden;
}

.limit {
  display: flex;
  min-width: 320px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  margin-bottom: -20px;
}

.name {
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 0;
  margin-top: 7px;
}

.name:focus,
.name:hover {
  cursor: pointer;
  color: #1e46db;
}

.category {
  font-size: 11px;
  font-weight: normal;
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: center;
  margin: 0;
  // margin-top: 6px;
  // margin-bottom: 6px;
}

.mark {
  font-size: 11px;
  color: rgb(255, 254, 254);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  background-color: rgb(238, 49, 56);
  width: 50px;
  // min-height: 17px;
}

.underline {
  border: 2px solid red;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.all__link {
  display: block;
  position: absolute;
  bottom: -470px;
  right: 50%;
  transform: translateX(50%);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  color: rgb(0, 0, 0);
}

.all__link:focus,
.all__link:hover {
  color: #3538cb;
}

.talkshow__link {
  bottom: -50px;
  outline: none;
  cursor: pointer;
}

.bottom__link {
  bottom: -530px;
  outline: none;
}

.select__link {
  bottom: -342px;
  outline: none;
}

.text {
  display: none;
  font-size: 14px;
  font-weight: normal;
  color: rgb(0, 0, 0);
  line-height: 1.571;
  text-align: left;
}

.info {
  font-size: 12px;
  font-weight: normal;
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: left;
  display: flex;
}

.info::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 16px;
  background: url("../img/flag.png") no-repeat;
  margin-right: 10px;
}

.slider__list {
  text-align: left;
  outline: none;
  cursor: pointer;
}

.circle__list,
.kub__list {
  text-align: center;
  outline: none;
  cursor: pointer;
  // min-height: 195px;
}

.kub__list {
  padding-bottom: 40px;
  margin-bottom: 60px;
}

.header__block {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.bookmark__lists,
.rating__lists {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: flex;
  margin: 0 20px;
}

.bookmark__lists {
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgb(241, 241, 241);
  border-bottom: 1px solid rgb(241, 241, 241);
  margin-top: 38px;
  margin-bottom: 50px;
  position: relative;
  height: 120px;
}

.bookmark__list {
  margin-top: 19px;
  margin-bottom: 6px;
}

.bookmark__list a {
  font-size: 12px;
  font-weight: normal;
  color: rgb(102, 102, 102);
  text-transform: uppercase;
  line-height: 1.667;
}

.rating__lists {
  justify-content: space-around;
  max-width: 510px;
}

.rating__list a {
  font-size: 12px;
  font-weight: normal;
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: left;
}

.rating__list a span {
  font-weight: bold;
  color: #010101;
}

.rating__list:last-child {
  display: none;
}

.title__inside h1 {
  font-size: 18px;
  font-weight: 900;
  color: rgb(1, 1, 1);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.no-mobile__text,
.nomobile {
  display: none;
}

.bookmark__icon1,
.bookmark__icon2 {
  position: relative;
  padding-left: 40px;
  font-size: 12px;
  font-weight: normal;
  color: rgb(102, 102, 102);
  text-transform: uppercase;
}

.bookmark__icon1::before,
.bookmark__icon2::before {
  content: "";
  background: url("../img/css-sprite.png") no-repeat;
  width: 30px;
  height: 24px;
  display: flex;
  position: absolute;
  top: -4px;
  left: 3px;
}

.bookmark__icon1::before {
  background-position: -54px -10px;
}

.bookmark__icon2::before {
  background-position: -10px -10px;
}
@media (min-width: @size-tablet) {
  .slider__lists {
    padding-bottom: 74px;
  }

  .films .title__name {
    margin-top: 70px;
    margin-bottom: 52px;
  }

  .popular .title__name {
    margin-top: 20px;
  }

  .circle__lists .slick-slide {
    margin-left: 20px;
  }

  .programms .title__name {
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .kub__lists .slick-slide {
    margin-left: 10px;
  }

  .no-mobile__text {
    display: inline;
  }

  .serial .title__name,
  .title__name {
    margin-top: 70px;
    margin-bottom: 45px;
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

  .show .title__name,
  .sport .title__name {
    margin-bottom: 67px;
  }

  .serial .title__name {
    margin-bottom: 65px;
  }

  .mult .title__name {
    margin-bottom: 70px;
  }

  .rating__lists {
    justify-content: space-between;
  }

  .rating__list:last-child {
    display: flex;
  }

  .rating__list a span {
    font-size: 16px;
  }

  .header__block {
    align-items: flex-start;
  }

  .all__link {
    font-size: 16px;
    top: 76px;
    right: 163px;
    bottom: 0;
  }

  .name {
    font-size: 16px;
  }

  .kub__list {
    width: 130px;
    position: relative;
  }

  .circle__list {
    width: 170px;
    position: relative;
  }

  .circle__list {
    // width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 220px;
    // margin-bottom: 50px;
  }

  .category {
    font-size: 12px;
  }

  .circle__lists,
  .kub__lists,
  .programm__lists,
  .programms__lists,
  .slider__lists {
    margin-left: 0;
  }

  .popular .circle__lists {
    padding-bottom: 96px;
  }

  .serial .kub__lists {
    padding-bottom: 15px;
  }

  .bookmark__lists {
    flex-direction: row;
    justify-content: flex-start;
    height: 70px;
  }

  .bookmark__list {
    margin-right: 30px;
    margin-top: 7px;
}

  .underline {
    width: 110px;
    height: 110px;
  }

  .kub__list div {
    width: 100%;
  }

  .mult .circle__lists,
  .serial .circle__lists {
    margin-bottom: 63px;
  }

  .films .circle__lists {
    margin-bottom: 82px;
  }

  .sport .circle__lists {
    margin-bottom: 70px;
  }

  .bookmark__icon1,
  .bookmark__icon2 {
    margin-top: 0;
  }


}
@media (min-width: @size-desktop) {
  .title__inside h1 {
    margin-top: 18px;
  }
  .title__name-serial{
  margin-bottom: 35px!important;
  }


  .kub__list .category,
  .kub__list .name {
    text-align: center;
  }

  .slider__lists .slick-slide,
  .sport-page__slider .slick-slide,
  .talkshow__slider .slick-slide {
    width: 270px!important;
    margin-left: 30px;
  }

  .text {
    display: block;
  }

  .kub__list {
    width: 170px;
  }

  .circle__lists .slick-slide,
  .kub__lists .slick-slide {
    width: 180px!important;
    margin-left: 30px;
  }

  .header__block {
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
  }

  .bookmark__lists,
  .rating__lists {
    margin-left: 0;
  }

  .bookmark__lists {
    margin-top: 29px;
  }

  .nomobile {
    display: inline;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
  }

  .circle__list:focus .underline,
  .circle__list:hover .underline {
    width: 110px;
    height: 110px;
  }

  .kub__list:focus .img-kub,
  .kub__list:hover .img-kub {
    transform: scale(1.1);
    margin-top: -2px;
    margin-bottom: 20px;
  }

  .kub__list:focus::before,
  .kub__list:hover::before {
    content: "";
    display: block;
    width: 30px;
    height: 50px;
    background-image: url("../img/css-sprite.png");
    background-position: -50px 10px;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
    right: 40px;
  }

  .kub__list:focus .name,
  .kub__list:hover .name {
    color: #1e46db;
  }

  .circle__list:focus .name,
  .circle__list:hover .name {
    color: #1e46db;
  }

  .circle__list:focus .underline::after,
  .circle__list:hover .underline::after {
    content: "смотреть";
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    z-index: 10px;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle__list:focus .underline::before,
  .circle__list:hover .underline::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left: 10px solid #fff;
    position: absolute;
    z-index: 10;
    left: 10px;
  }

  .circle__list:focus .underline,
  .circle__list:hover .underline {
    border: 4px solid red;
    border-left-color: transparent;
    border-bottom-color: transparent;
    z-index: 2;
  }
}
