.programms {
  box-sizing: border-box;
  position: relative;
}

.programms__lists,
.programm__lists {
  display: flex;
  margin-left: 20px;
  padding-bottom: 50px;
}

 .programm__list {
  margin-right: 26px;
}
.programms__list {
  margin-right: 9px;
}

.programm__lists p {
  font-size: 14px;
  font-weight: 500;
  color: rgb(153, 153, 153);
  line-height: 1.286;
  text-align: left;
}

.programm__lists p span {
  color: #010101;
}

@media (min-width: @size-tablet) {
  .programms__lists {
    margin-left: 0;
    padding-left: 13px;
  }
}
