.slick-slide {
  outline: none;
}

.slick-initialized .slick-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.sport-page__block-list .slick-initialized .slick-slide,
.opinion .slick-initialized .slick-slide,
  .programms .slick-initialized .slick-slide {
      align-items: flex-start;
    }

.circle__lists .slick-list,
.kub__lists .slick-list {
  padding-left: 0;
}
.slick-track {
  display: flex;
}

.opinion__lists .slick-prev,
.opinion__lists .slick-next {
  position: absolute;
  top: -25px;
  z-index: 100;
}

.opinion__lists .slick-prev {
  left: 195px;
}

.opinion__lists .slick-next {
  right: 0;
}

.opinion__lists .slick-prev:before,
.opinion__lists .slick-next:before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 3px;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
    z-index: 101;
}

.opinion__lists .slick-prev::before {
  left: 7px;
  transform: rotate(-45deg);
  border-top: 2px solid #cccccc;
  border-left: 2px solid #cccccc;
}

.opinion__lists .slick-next::before {
  right: 5px;
  transform: rotate(135deg);
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
}



@media (min-width: 360px) {
.opinion__lists .slick-prev {
  left: 235px;
}
}

@media (min-width: 400px) {
.opinion__lists .slick-prev {
  left: 275px;
}
}

@media (min-width: 440px) {
.opinion__lists .slick-prev {
  left: 320px;
}
}

@media (min-width: 500px) {
.opinion__lists .slick-prev {
  left: 370px;
}
}

@media (min-width: 550px) {
.opinion__lists .slick-prev {
  left: 430px;
}
}

@media (min-width: 600px) {
.opinion__lists .slick-prev {
  left: 475px;
}
}

@media (min-width: 650px) {
.opinion__lists .slick-prev {
  left: 520px;
}
}

@media (min-width: 700px) {
.opinion__lists .slick-prev {
  left: 575px;
}
}

@media (min-width: 750px) {
.opinion__lists .slick-prev {
  left: 630px;
}
}

@media (min-width: 800px) {
.opinion__lists .slick-prev {
  left: 680px;
}
}

@media (min-width: 850px) {
.opinion__lists .slick-prev {
  left: 725px;
}
}

@media (min-width: 900px) {
.opinion__lists .slick-prev {
  left: 780px;
}
}

@media (min-width: @size-tablet) {
  .slick-list .draggable {
    paddin: 0;
  }
  .banner__limit .slick-prev,
  .banner__limit .slick-next {
    position: absolute;
    top: 100px;
    z-index: 100
  }
  .talkshow__slider .slick-prev,
  .talkshow__slider .slick-next,
  .sport-page__slider .slick-prev,
  .sport-page__slider .slick-next,
  .slider__lists .slick-prev,
  .slider__lists .slick-next,
  .kub__lists .slick-prev,
  .kub__lists .slick-next {
    position: absolute;
    top: 112px;
    z-index: 100;
  }
  .programms__lists .slick-prev,
  .programms__lists .slick-next {
    position: absolute;
    top: 15px;
    z-index: 100;
  }
  .circle__lists .slick-prev,
  .circle__lists .slick-next {
    position: absolute;
    top: 42px;
    z-index: 100;
  }

  .programms__lists .slick-prev {
    left: -20px;
  }

  .banner__limit .slick-prev {
    left: 10px;
  }

  .banner__limit .slick-next {
    right: 40px;
  }


  .talkshow__slider .slick-prev,
  .sport-page__slider .slick-prev,
  .slider__lists .slick-prev,
  .circle__lists .slick-prev,
  .kub__lists .slick-prev {
    left: -15px;
  }

  .programms__lists .slick-next {
    right: 0;
  }

  // .banner__limit .slick-next {
  // //   right: 100px;
  // // }
  .talkshow__slider .slick-next,
  .sport-page__slider .slick-next,
  .slider__lists .slick-next,
  .kub__lists .slick-next,
  .circle__lists .slick-next {
    right: 5px;
  }

  .talkshow__slider .slick-prev::after,
  .talkshow__slider .slick-next::after,
  .sport-page__slider .slick-prev::after,
  .sport-page__slider .slick-next::after,
  .slider__lists .slick-prev::after,
  .slider__lists .slick-next::after,
  .kub__lists .slick-prev::after,
  .kub__lists .slick-next::after,
  .circle__lists .slick-prev::after,
  .circle__lists .slick-next::after {
    content: "";
    display: block;
    width: 50px;
    height: 100px;
    background-color: #f1f1f1;
    position: absolute;
    top: -27px;
    z-index: 3;
  }
  .serial .kub__lists .slick-prev::after,
  .serial .kub__lists .slick-next::after,
  .serial .circle__lists .slick-prev::after,
  .serial .circle__lists .slick-next::after,
  .popular .circle__lists .slick-prev::after,
  .popular .circle__lists .slick-next::after {
    background-color: #ffffff;
  }
  .talkshow__slider .slick-prev::after,
  .sport-page__slider .slick-prev::after,
  .slider__lists .slick-prev::after,
  .kub__lists .slick-prev::after,
  .circle__lists .slick-prev::after {
    left: 15px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }

  .talkshow__slider .slick-next::after,
  .sport-page__slider .slick-next::after,
  .slider__lists .slick-next::after,
  .kub__lists .slick-next::after,
  .circle__lists .slick-next::after {
    right: -5px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  .programms__lists .slick-prev:before,
  .programms__lists .slick-next:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-top: 1px solid #9a9be5;
    border-left: 1px solid #9a9be5;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 0;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
    z-index: 101;
  }

  .programms__lists .slick-prev::before {
    left: 25px;
    transform: rotate(-45deg);
  }

  .programms__lists .slick-next::before {
    right: 5px;
    transform: rotate(135deg);
  }
  .banner__limit .slick-prev::before,
  .banner__limit .slick-next::before {
    content: "";
    display: block;
    width: 44px;
    height: 44px;
    border-top: 2px solid #4d4d4d;
    border-left: 2px solid #4d4d4d;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      top: 0;
      -moz-osx-font-smoothing: grayscale;
      outline: none;
      z-index: 101;
  }
  .talkshow__slider .slick-prev::before,
  .talkshow__slider .slick-next::before,
  .sport-page__slider .slick-prev::before,
  .sport-page__slider .slick-next::before,
  .slider__lists .slick-prev:before,
  .slider__lists .slick-next:before,
  .kub__lists .slick-prev:before,
  .kub__lists .slick-next:before,
  .circle__lists .slick-prev:before,
  .circle__lists .slick-next:before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    border-top: 1px solid rgb(42, 46, 63);
    border-left: 1px solid rgb(42, 46, 63);
      -webkit-font-smoothing: antialiased;
      position: absolute;
      top: 7px;
      -moz-osx-font-smoothing: grayscale;
      outline: none;
      z-index: 101;
  }
  .talkshow__slider .slick-prev::before,
  .sport-page__slider .slick-prev::before,
  .slider__lists .slick-prev::before,
  .kub__lists .slick-prev::before,
  .circle__lists .slick-prev::before {
    left: 25px;
    transform: rotate(-45deg);
  }

  .banner__limit .slick-prev::before {
    left: 100px;
    transform: rotate(-45deg);
  }

  .banner__limit .slick-next::before {
    right: 100px;
    transform: rotate(135deg);
  }
  .talkshow__slider .slick-next::before,
  .sport-page__slider .slick-next::before,
  .slider__lists .slick-next::before,
  .kub__lists .slick-next::before,
  .circle__lists .slick-next::before {
    right: 5px;
    transform: rotate(135deg);
  }

  .banner .slick-slide {
      margin: 0 12px;
  }

.banner__limit .slick-prev,
.banner__limit .slick-next {
  position: absolute;
  top: 150px;
  z-index: 100
}
}

@media (min-width: 950px) {
.opinion__lists .slick-prev {
  left: 280px;
}
}

@media (min-width: @size-desktop) {
  .banner__limit .slick-current {
      width: 1170px;
  }

  // banner__item slick-slide slick-current slick-active slick-center
}
