.talkshow {
  box-sizing: border-box;
  position: relative;
}

.talkshow__block-list {
  padding-bottom: 123px;
}

.talkshow__block {
  margin-top: 60px;
}

.talkshow__block .bookmark__lists {
  margin-top: 39px;
}

.talkshow__block-list .title__name {
  margin-top: 68px;
  margin-bottom: 35px;
  font-size: 12px;
}

  .talkshow__slider {
    margin-left: 13px;
  }
@media (min-width: @size-tablet) {
  .talkshow__block-list .title__name {
    font-size: 18px;
    margin-top: 74px;
    margin-bottom: 17px;
  }
  .talkshow__blocks {
    display: flex;
    flex-direction: column-reverse;
  }

  .talkshow__block-list {
    background: #f1f1f1;
    margin-top: 90px;
    padding-bottom: 75px;
  }

  .talkshow__block {
    margin-top: 30px;
}

.talkshow__block .bookmark__lists {
    margin-top: 27px;
}
.talkshow__block .serial-page__info-block {
      margin-bottom: 53px;
}
.talkshow__blocks {
    margin-bottom: 65px;
  }
}
