section.banner
  div.wrapper
    div.banner__limit.limit
      div.banner__item
        img(src="img/banner-any.jpg" alt="Аннигиляция")
        button(type="button").banner__play 
          span Смотреть
      div.banner__item
        img(src="img/banner-face.jpg" alt="Юморист")
        button(type="button").banner__play 
          span Смотреть
      div.banner__item
        img(src="img/banner-mary.jpg" alt="Мэри Поппинс")
        button(type="button").banner__play 
          span Смотреть
