section.cinema.container
  section.header__block
    div.min-menu
      a(href="#") Главная    
      span
      a(href="#") Фильмы
    div.title__inside
      h1 фильмы
  form(action="index.html" method="post")
    div.wrapper
      div.buttons__filtrs.limit
        button(type="button").button__pro фэнтaзи
        button(type="button").button__pro зарубежные
        button(type="button").button__pro 2018&nbsp;год
        button(type="button").button__pro советские
        button(type="button").button__pro фэнтази
        button(type="button").button__pro зарубежные
        button(type="button").button__pro 2019&nbsp;год
        button(type="button").button__pro советские
        button(type="button").button__pro криминальные
        button(type="button").button__pro американские
        button(type="button").button__pro новинки
    button(type="button").cinema__sort фильтр и сортировка
    div.cinema__select.cinema__hide
      select
        option Все жанры
        option Ужасы
        option Фэнтази
        option Приключения
        option Драма
        option Документальное 
      select
        option Все годы
        option 2019
        option 2018
        option 2017
        option 2016
        option 2015
        option 2014
        option 2013
      select
        option Все страны
        option Россия
        option Англия
        option Бельгия
        option Япония
      select
        option Сначала новые
      button.cinema__select-button Сбросить
  section.cinema__lists
    a(href="#").cinema__list
      img(src="img/film-1.jpg").img-kub
      h3.name Чёрная пантера
      p.category триллер
    a(href="#").cinema__list
      img(src="img/film-2.jpg").img-kub
      h3.name Hollywood Portfolio
      p.category комедия, мелодрама
    a(href="#").cinema__list
      img(src="img/film-3.jpg").img-kub
      h3.name Голодные игры
      p.category фэнтази, драма
    a(href="#").cinema__list
      img(src="img/film-4.jpg").img-kub
      h3.name Лига справедливос..
      p.category документальный филмьм
    a(href="#").cinema__list
      img(src="img/film-5.jpg").img-kub
      h3.name Зои
      p.category документальный филмьм
    a(href="#").cinema__list
      img(src="img/film-6.jpg").img-kub
      h3.name Гоголь Вий
      p.category документальный филмьм
  section.cinema__lists
    a(href="#").cinema__list
      img(src="img/film-7.jpg").img-kub
      h3.name Безумный Макс
      p.category фэнтази, драма
    a(href="#").cinema__list
      img(src="img/film-1.jpg").img-kub
      h3.name Чёрная пантера
      p.category триллер
    a(href="#").cinema__list
      img(src="img/film-2.jpg").img-kub
      h3.name Hollywood Portfolio
      p.category комедия, мелодрама
    a(href="#").cinema__list
      img(src="img/film-3.jpg").img-kub
      h3.name Голодные игры
      p.category фэнтази, драма
    a(href="#").cinema__list
      img(src="img/film-4.jpg").img-kub
      h3.name Лига справедливос..
      p.category документальный филмьм
    a(href="#").cinema__list
      img(src="img/film-5.jpg").img-kub
      h3.name Зои
      p.category документальный филмьм
  section.cinema__lists
    div.cinema__list1
      img(src="img/half-1.jpg").img-finish
    div.cinema__list1
      img(src="img/half-2.jpg").img-finish
    div.cinema__list1
      img(src="img/half-3.jpg").img-finish
    div.cinema__list1
      img(src="img/half-4.jpg").img-finish
    div.cinema__list1
      img(src="img/half-5.jpg").img-finish
    div.cinema__list1
      img(src="img/half-6.jpg").img-finish
    
