section.films
  div.title
    h2.title__name фильмы
    a(href="#").all__link.film__link Все фильмы

  section.circle__lists
    a(href="#").circle__list
      div.underline
        img(src="img/pop-3.png").img
      h3.name Потерянное зерно
      p.category приключения
      span.mark live
    a(href="#").circle__list
      div.underline
        img(src="img/pop-1.png").img
      h3.name Юморист
      p.category Фильм
      span.mark live
    a(href="#").circle__list
      div.underline
        img(src="img/pop-2.png").img
      h3.name Книга джунглей
      p.category Мультфильм
      span.mark live
    a(href="#").circle__list
      div.underline
        img(src="img/pop-3.png").img
      h3.name Потерянное зерно
      p.category приключения
      span.mark live
    a(href="#").circle__list
      div.underline
        img(src="img/pop-4.png").img
      h3.name Битва за Севасто...
      p.category исторический боевик
      span.mark live
    a(href="#").circle__list
      div.underline
        img(src="img/pop-5.png").img
      h3.name Золушка
      p.category сказка
      span.mark live
    a(href="#").circle__list
      div.underline
        img(src="img/pop-6.png").img
      h3.name Лермонтов
      p.category документальный фильм
      span.mark live
    a(href="#").circle__list
      div.underline
        img(src="img/pop-3.png").img
      h3.name Потерянное зерно
      p.category приключения
      span.mark live
      
  section.kub__lists
    a(href="#").kub__list
      img(src="img/film-1.jpg").img-kub
      h3.name Чёрная пантера
      p.category триллер
    a(href="#").kub__list
      img(src="img/film-2.jpg").img-kub
      h3.name Hollywood Portfolio
      p.category комедия, мелодрама
    a(href="#").kub__list
      img(src="img/film-3.jpg").img-kub
      h3.name Голодные игры
      p.category фэнтази, драма
    a(href="#").kub__list
      img(src="img/film-4.jpg").img-kub
      h3.name Лига справедливос..
      p.category документальный филмьм
    a(href="#").kub__list
      img(src="img/film-5.jpg").img-kub
      h3.name Зои
      p.category документальный филмьм
    a(href="#").kub__list
      img(src="img/film-6.jpg").img-kub
      h3.name Гоголь Вий
      p.category документальный филмьм
    a(href="#").kub__list
      img(src="img/film-7.jpg").img-kub
      h3.name Безумный Макс
      p.category фэнтази, драма
