footer.footer.container
  ul.footer__menu
    li
      a(href="#") О нас          
    li
      a(href="#") Партнёрам
    li
      a(href="#") Контакты
  ul.footer__social
    li
      a(href="#") 
        img(src="img/odnoklassniki.svg")
        span.visually-hidden Одноклассники          
    li
      a(href="#")
        img(src="img/vk.svg")
        span.visually-hidden вконтакте
    li
      a(href="#")
        img(src="img/facebook.svg")
        span.visually-hidden фейсбук
