
div.menu
  div.menu__wrapper
    a(href="index.html").menu__logo миатли
    div.nav__wrapper
      div.nav__limit
        nav.nav
          ul.nav__lists
            li
              a(href="cinema.html") Фильмы
            li
              a(href="serials.html") Сериалы
            li
              a(href="sports.html") Спорт
            li
              a(href="multfilm.html") Мультфильмы
            li
              a(href="talkshow.html") Ток-шоу
            li
              a(href="tv.html") ТВ онлайн
            li
              a(href="today.html") Подборки
    div.menu__item
      div.menu__search
        input(type="search").menu__input-search
      input(type="range" value="0" min="0" max="1" oninput="range()").menu__range
      button(type="button").menu__enter Войти
    
