section.lk.container
  div.lk__profile
    img(src="img/face-profile.png").lk__img
    p.lk__name  @someoneelse
    ul.lk__elements
      li
        p.lk__element.lk__icon1 Закладки
      li 
        p.lk__element.lk__icon2 Просмотрено
      li
        p.lk__element.lk__icon3 Напоминания
  section.lk__items
    h1.lk__title Закладки 
      span 54
    form.lk__filtrs
      button.lk__mobile фильтр и сортировка
      button.lk__choice.lk__nomobile По дате добавления
    section.lk__lists
      a(href="film.html").lk__list
        img(src="img/film-1.jpg").img-lk
        h3.name Чёрная пантера
        p.category триллер
      a(href="film.html").lk__list
        img(src="img/film-2.jpg").img-lk
        h3.name Hollywood Portfolio
        p.category комедия, мелодрама
      a(href="film.html").lk__list
        img(src="img/film-3.jpg").img-lk
        h3.name Голодные игры
        p.category фэнтази, драма
      a(href="film.html").lk__list
        img(src="img/film-1.jpg").img-lk
        h3.name Чёрная пантера
        p.category триллер
      a(href="film.html").lk__list
        img(src="img/film-4.jpg").img-lk
        h3.name Лига справедливос..
        p.category документальный филмьм
      a(href="film.html").lk__list
        img(src="img/film-5.jpg").img-lk
        h3.name Зои
        p.category документальный филмьм
      a(href="film.html").lk__list
        img(src="img/film-6.jpg").img-lk
        h3.name Гоголь Вий
        p.category документальный филмьм
      a(href="film.html").lk__list
        img(src="img/film-7.jpg").img-lk
        h3.name Безумный Макс
        p.category фэнтази, драма
    
