section.popular
  div.title
    h2.title__name популярное в эфире
  section.circle__lists
    div
      a(href="#").circle__list
        div.underline
          img(src="img/pop-3.png").img
        h3.name Потерянное зерно
        p.category приключения
        span.mark В эфире
    div
      a(href="#").circle__list
        div.underline 
          img(src="img/pop-1.png").img
        h3.name Юморист
        p.category Фильм
        span.mark В эфире
    div
      a(href="#").circle__list
        div.underline
          img(src="img/pop-2.png").img
        h3.name Книга джунглей
        p.category Мультфильм
        span.mark В эфире
    div
      a(href="#").circle__list
        div.underline
          img(src="img/pop-3.png").img
        h3.name Потерянное зерно
        p.category приключения
        span.mark В эфире
    div
      a(href="#").circle__list
        div.underline
          img(src="img/pop-4.png").img
        h3.name Битва за Севасто...
        p.category исторический боевик
        span.mark В эфире
    div
      a(href="#").circle__list
        div.underline
          img(src="img/pop-5.png").img
        h3.name Золушка
        p.category сказка
        span.mark В эфире
    div
      a(href="#").circle__list
        div.underline
          img(src="img/pop-6.png").img
        h3.name Лермонтов
        p.category документальный фильм
        span.mark В эфире
    div
      a(href="#").circle__list
        div.underline
          img(src="img/pop-3.png").img
        h3.name Потерянное зерно
        p.category приключения
        span.mark В эфире
    div
      a(href="#").circle__list
        div.underline
          img(src="img/pop-2.png").img
        h3.name Книга джунглей
        p.category Мультфильм
        span.mark В эфире
    div
      a(href="#").circle__list
        div.underline
          img(src="img/pop-3.png").img
        h3.name Потерянное зерно
        p.category приключения
        span.mark В эфире
    div
      a(href="#").circle__list
        div.underline
          img(src="img/pop-4.png").img
        h3.name Битва за Севасто...
        p.category исторический боевик
        span.mark В эфире
    div
      a(href="#").circle__list
        div.underline
          img(src="img/pop-5.png").img
        h3.name Золушка
        p.category сказка
        span.mark В эфире
