section.programms.container
  div.title
    h2.title__name ПРОГРАММА ПЕРЕДАЧ
  div.wrapper 
    section.programms__lists.limit
      div.programms__list
        button(type="button").button__pro.button__pro--active Все
      div.programms__list
        button(type="button").button__pro Первый
      div.programms__list
        button(type="button").button__pro НТВ
      div.programms__list
        button(type="button").button__pro Дождь
      div.programms__list
        button(type="button").button__pro Муз ТВ
      div.programms__list
        button(type="button").button__pro Культура
      div.programms__list
        button(type="button").button__pro Все
      div.programms__list
        button(type="button").button__pro Все
      div.programms__list
        button(type="button").button__pro Все

  div.programm__lists
    div.programm__list
      p 18:00 <span>Новости</span> Рен ТВ 
      p 19:30 <span>КВН. Высшая лига 2019</span> Первый
      p 18:34 <span>Пусть говорят</span> Первый
      p 18:00 <span>Новости</span> Рен ТВ 
      p 19:30 <span>КВН. Высшая лига 2019</span> Первый
      p 18:34 <span>Пусть говорят</span> Первый
    div.programm__list
      p 19:30 <span>КВН. Высшая лига 2019</span> Первый
      p 19:30 <span>Документальный ф...</span> Культура 
      p 18:00 <span>Новости</span> Рен ТВ 
      p 19:30 <span>КВН. Высшая лига 2019</span> Первый
      p 19:30 <span>Документальный ф...</span> Культура
      p 18:00 <span>Новости</span> Рен ТВ 
    div.programm__list
      p 19:00 <span>Жизнь на Марсе</span> Рен ТВ  
      p 18:00 <span>Новости</span> Рен ТВ 
      p 19:30 <span>КВН. Высшая лига 2019</span> Первый 
      p 19:00 <span>Жизнь на Марсе</span> Рен ТВ 
      p 18:00 <span>Новости</span> Рен ТВ 
      p 19:30 <span>КВН. Высшая лига 2019</span> Первый
    div.programm__list
      p 19:30 <span>КВН. Высшая лига 2019</span> Первый
      p 19:30 <span>КВН. Высшая лига 2019</span> Первый 
      p 19:30 <span>КВН. Высшая лига 2019</span> Первый 
      p 19:30 <span>КВН. Высшая лига 2019</span> Первый
      p 19:30 <span>КВН. Высшая лига 2019</span> Первый
      p 19:30 <span>КВН. Высшая лига 2019</span> Первый
