section.selections
  div.title
    h2.title__name ПОДБОРКИ
    a(href="#").all__link.select__link Перейти в раздел
  div.slider__lists
    div
      a(href="#").slider__list
        img(src="img/select-1.jpg").img__select
        h3.name Новогодние фильмы
        p.category футбол
        span.info 120
    div
      a(href="#").slider__list
        img(src="img/select-1.jpg").img__select
        h3.name Лучшие комедии 2018
        p.category Фильм
        span.info 1 726
    div
      a(href="#").slider__list
        img(src="img/select-2.jpg").img__select
        h3.name Фильмы про домашних живот...
        p.category Мультфильм
        span.info 538
    div
      a(href="#").slider__list
        img(src="img/select-4.jpg").img__select
        h3.name Фильмы с боями
        p.category приключения
        span.info 1 044
    div
      a(href="#").slider__list
        img(src="img/select-4.jpg").img__select
        h3.name Новогодние фильмы
        p.category исторический боевик
        span.info 1 044
    
