section.show.container
  div.title
    h2.title__name ток-шоу
    a(href="#").all__link.bottom__link Перейти в раздел
  div.wrapper
    section.sport__blocks.limit
      div.sport__block
        div.sport__new
          img(src="img/new-1.jpg").img__big
          a(href="#").name Чемпионал Европы по футболу 2019
          p.category футбол
          p.text Гравитационный парадокс неоднозначен. Как было показано выше, авторитаризм однозначно формирует сюжетный коммунизм. Идеи гедонизма занимают центральное место в утилитаризме Милля и Бентама, однако интерпретация диссонирует трансцендентальный референдум.
      div.sport__block
        div.sport__element
          img(src="img/new-2.jpg").img__min
          a(href="#").name Чемпионал Европы по водному поло среди женщин 2019
          p.category водное поло
        div.sport__element
          img(src="img/new-3.jpg").img__min
          a(href="#").name Лига чемпионов 2019
          p.category футбол
        div.sport__element
          img(src="img/new-4.jpg").img__min
          a(href="#").name Зимние Олимпийские игры
          p.category футбол
        div.sport__element
          img(src="img/new-5.jpg").img__min
          a(href="#").name Чемпионал Европы по водному поло среди женщин 2019
          p.category футбол
  div.wrapper
    section.sport__blocks.limit.show__blocks-rotate
      div.sport__block
        div.sport__new
          img(src="img/new-1.jpg").img__big
          a(href="#").name Чемпионал Европы по футболу 2019
          p.category футбол
          p.text Гравитационный парадокс неоднозначен. Как было показано выше, авторитаризм однозначно формирует сюжетный коммунизм. Идеи гедонизма занимают центральное место в утилитаризме Милля и Бентама, однако интерпретация диссонирует трансцендентальный референдум.
      div.sport__block
        div.sport__element
          img(src="img/new-2.jpg").img__min
          a(href="#").name Чемпионал Европы по водному поло среди женщин 2019
          p.category водное поло
        div.sport__element
          img(src="img/new-3.jpg").img__min
          a(href="#").name Лига чемпионов 2019
          p.category футбол
        div.sport__element
          img(src="img/new-4.jpg").img__min
          a(href="#").name Зимние Олимпийские игры
          p.category футбол
        div.sport__element
          img(src="img/new-5.jpg").img__min
          a(href="#").name Чемпионал Европы по водному поло среди женщин 2019
          p.category футбол
