section.sport-page.container
  div.sport-page__constructor
    section.sport-page__block
      section.header__block
        div.min-menu
          a(href="#") Главная    
          span
          a(href="#") Спорт
          span
          a(href="sport.html") Чемпионат мира во футболу
        div.title__inside
          h1 Чемпионат мира по футболу 2019 
            span.nomobile Worldwide Football 2019
      ul.rating__lists
        li.rating__list
          p Рейтинг Миатли: 
            span 8.79
        li.rating__list.rating__nosport
          p Рейтинг IMdB:  
            span 6.73
        li.rating__list.rating__nosport
          p Рейтинг Кинопоиска:
            span 7.12
      div.sport__item
        div.sport__block-item
          div.header__img.header__img--sport.overlay
            button(type="button").button__play-sport Смотреть
          div.wrapper
            section.sport-page__blocks.limit
                div.sport__element.sport-page__element
                  img(src="img/new-1.jpg").sport-img__min
                  a(href="sport.html").name Чемпионал Европы по футболу 2019
                  p.category футбол
                div.sport__element.sport-page__element
                  img(src="img/new-2.jpg").sport-img__min
                  a(href="#").name Чемпионал Европы по водному поло среди женщин 2019
                  p.category водное поло
                div.sport__element.sport-page__element
                  img(src="img/new-3.jpg").sport-img__min
                  a(href="#").name Лига чемпионов 2019
                  p.category футбол
                div.sport__element.sport-page__element
                  img(src="img/new-4.jpg").sport-img__min
                  a(href="sport-season.html").name Зимние Олимпийские игры
                  p.category футбол
                div.sport__element.sport-page__element
                  img(src="img/new-5.jpg").sport-img__min
                  a(href="#").name Чемпионал Европы по водному поло среди женщин 2019
                  p.category футбол
                div.sport__element.sport-page__element
                  img(src="img/new-1.jpg").sport-img__min
                  a(href="sport.html").name Чемпионал Европы по футболу 2019
                  p.category футбол
                div.sport__element.sport-page__element
                  img(src="img/new-2.jpg").sport-img__min
                  a(href="#").name Чемпионал Европы по водному поло среди женщин 2019
                  p.category водное поло
                div.sport__element.sport-page__element
                  img(src="img/new-2.jpg").sport-img__min
                  a(href="#").name Чемпионал Европы по водному поло среди женщин 2019
                  p.category водное поло
        div.sport__block-item
          ul.bookmark__lists
            li.bookmark__list
              p.bookmark__icon1 Сохранено в избранное
            li.bookmark__list
              p.bookmark__icon2 Напомнить о начале
          section.serial-page__info
              div.serial-page__link
                a(href="#") 2018, 
                a(href="#") Великобритания, 
                a(href="#") Ужасы, 
                a(href="#") Триллеры, 
                a(href="#") Детективы, 
                a(href="#") Зарубежные, 
                a(href="#") Мистические, 
                a(href="#") Криминал, 
                a(href="#") HD, 
                a(href="#") 18+ 
              div.serial-page__info-block
                p <span class="bold">Режиссёр:</span> Клайв Тонг
                p <span class="bold">Актёры:</span> Ольга Куриленко, Хавьер Ботет, Митч Икинс, Лэнс Э. Николс, Рози Феллнер
                p <span class="bold">Длитеьность:</span> 1 ч 32 мин
              p Дебютный хоррор режиссера Клайва Тонга с Ольгой Куриленко (“Обливион”, “Квант милосердия”) в главной роли. Миллионы людей по всему миру хотя бы раз сталкивались с таким пугающим состоянием, как сонный паралич. Врачам известно это явление: они считают его совершенно безопасным и связывают не более, чем с гормоном, который выделяется, когда человек выходит из стадии быстрого сна. Одни люди переживают это состояние спокойно, другие видят галлюцинации, третьи же утверждают, что их преследует жуткое существо, демон, которого они называют Мара. 
                span.no-mobile__text Психолог-криминалист Кейт Фуллер, приступая к расследованию загадочного убийства в благополучной семье Уинфилдов, убеждена, что случившееся можно объяснить с научной точки зрения. Однако продолжающаяся череда необъяснимых смертей заставляет Кейт по-новому взглянуть на рассказы тех, кто пережил встречу с Марой. Кроме того, в одну из ночей девушка и сама становится новой мишенью демона. Теперь путь к спасению для нее только один - никогда не спать. Смотрите фильм “Мара. Пожиратель снов” онлайн в нашем интернет-кинотеатре. Посмотреть фильм "Мара. Пожиратель снов" онлайн вы можете совершенно бесплатно в хорошем качестве без регистрации. Приятного просмотра!
              button(type="button").mobile__open Показать полностью
      section.comments
        h2.comments__title комментарии
        ul.comments__lists
          li
            img(src="img/face1.png" alt="фото").comments__img
            div.comments__item
              textarea(name="comment" rows="4" cols="30" placeholder="Ваш комментарий...")
          li
            img(src="img/face2.png" alt="фото").comments__img
            div.comments__item
              p.comments__name @bestfreakgirl  
                span 21:36
              p.comments__text Гравитационный парадокс неоднозначен. Как было показано выше, авторитаризм однозначно формирует сюжетный коммунизм.Идеи гедонизма занимают центральное место в утилитаризме Милля и Бентама, од
          li
            img(src="img/face3.png" alt="фото").comments__img
            div.comments__item
              p.comments__name @someoneelse  
                span 21:36
              p.comments__text Гравитационный парадокс неоднозначен. Идеи гедонизма занимают центральное место в утилитаризме Милля и Бентама???
        button(type="button").comments__show Показать ещё
    
section.bg
    section.sport-page__block-list
      div.title
        h2.title__name спорт
        a(href="#").all__link Показать все    
        section.sport-page__slider
            div.sport__element.sport-page__element
              img(src="img/new-1.jpg").sport-img__min
              a(href="sport.html").name Чемпионал Европы по футболу 2019
              p.category футбол
            div.sport__element.sport-page__element
              img(src="img/new-2.jpg").sport-img__min
              a(href="#").name Чемпионал Европы по водному поло среди женщин 2019
              p.category водное поло
            div.sport__element.sport-page__element
              img(src="img/new-3.jpg").sport-img__min
              a(href="#").name Лига чемпионов 2019
              p.category футбол
            div.sport__element.sport-page__element
              img(src="img/new-4.jpg").sport-img__min
              a(href="sport-season.html").name Зимние Олимпийские игры
              p.category футбол
            div.sport__element.sport-page__element
              img(src="img/new-5.jpg").sport-img__min
              a(href="#").name Чемпионал Европы по водному поло среди женщин 2019
              p.category футбол
            div.sport__element.sport-page__element
              img(src="img/new-1.jpg").sport-img__min
              a(href="sport.html").name Чемпионал Европы по футболу 2019
              p.category футбол
            div.sport__element.sport-page__element
              img(src="img/new-2.jpg").sport-img__min
              a(href="#").name Чемпионал Европы по водному поло среди женщин 2019
              p.category водное поло
            div.sport__element.sport-page__element
              img(src="img/new-2.jpg").sport-img__min
              a(href="#").name Чемпионал Европы по водному поло среди женщин 2019
              p.category водное поло
