section.sport
  div.title
    h2.title__name СПОРТ
    a(href="#").all__link.bottom__link Перейти в раздел
  div
    section.circle__lists
      a(href="#").circle__list
        div.underline
          img(src="img/pop-3.png").img
        h3.name Потерянное зерно
        p.category приключения
        span.mark В эфире
      a(href="#").circle__list
        div.underline
          img(src="img/pop-1.png").img
        h3.name Юморист
        p.category Фильм
        span.mark В эфире
      a(href="#").circle__list
        div.underline
          img(src="img/pop-2.png").img
        h3.name Книга джунглей
        p.category Мультфильм
        span.mark В эфире
      a(href="#").circle__list
        div.underline
          img(src="img/pop-3.png").img
        h3.name Потерянное зерно
        p.category приключения
        span.mark В эфире
      a(href="#").circle__list
        div.underline
          img(src="img/pop-4.png").img
        h3.name Битва за Севасто...
        p.category исторический боевик
        span.mark В эфире
      a(href="#").circle__list
        div.underline
          img(src="img/pop-5.png").img
        h3.name Золушка
        p.category сказка
        span.mark В эфире
      a(href="#").circle__list
        div.underline
          img(src="img/pop-6.png").img
        h3.name Лермонтов
        p.category документальный фильм
        span.mark В эфире
      a(href="#").circle__list
        div.underline
          img(src="img/pop-3.png").img
        h3.name Потерянное зерно
        p.category приключения
        span.mark В эфире
      
  div.wrapper.container
    section.sport__blocks.limit
      div.sport__block
        div.sport__new
          img(src="img/new-1.jpg").img__big
          a(href="sport.html").name Чемпионал Европы по футболу 2019
          p.category футбол
          p.text Гравитационный парадокс неоднозначен. Как было показано выше, авторитаризм однозначно формирует сюжетный коммунизм. Идеи гедонизма занимают центральное место в утилитаризме Милля и Бентама, однако интерпретация диссонирует трансцендентальный референдум.
      div.sport__block
        div.sport__element
          img(src="img/new-2.jpg").img__min
          a(href="#").name Чемпионал Европы по водному поло среди женщин 2019
          p.category водное поло
        div.sport__element
          img(src="img/new-3.jpg").img__min
          a(href="#").name Лига чемпионов 2019
          p.category футбол
        div.sport__element
          img(src="img/new-4.jpg").img__min
          a(href="sport-season.html").name Зимние Олимпийские игры
          p.category футбол
        div.sport__element
          img(src="img/new-5.jpg").img__min
          a(href="#").name Чемпионал Европы по водному поло среди женщин 2019
          p.category футбол
        
