section.today.container
  section.header__block
    div.min-menu
      a(href="#") Главная    
      span
      a(href="#") Фильмы 
      span
      a(href="today.html") Кино сегодня
    div.title__inside
      h1 Кино сегодня
  section.today__blocks
    div.today__block1
      div.today__new
        div.today__icon.today__icon1
          img(src="img/today1.png").img__big-size
        a(href="#").today__name Зима близккко 8 сезон 1 серия
        p.today__time Далее: 00:15 Зима близккко 8 сезон 2 с...
    div.today__block
      div.today__element
        div.today__icon.today__icon2
          img(src="img/today2.png").img__min-size
        a(href="#").today__name Шерлок Холмс и Доктор Ватсон
        p.today__time 23:00
      div.today__element
        div.today__icon.today__icon3
          img(src="img/today3.png").img__min-size
        a(href="#").today__name Чемпионат мира по женскому водному поло
        p.today__time 23:30
      div.today__element
        div.today__icon.today__icon4
          img(src="img/today4.png").img__min-size
        a(href="#").today__name Шерлок Холмс и Доктор Ватсон
        p.today__time 23:00
      div.today__element
        div.today__icon.today__icon5
          img(src="img/today5.png").img__min-size
        a(href="#").today__name Название передачи
        p.today__time 23:30
        
        
  section.today__blocks.today__blocks--reverse
    div.today__block1
      div.today__new
        div.today__icon.today__icon6
          img(src="img/today1.png").img__big-size
        a(href="#").today__name Зима близккко 8 сезон 1 серия
        p.today__time 14:00
    div.today__block
      div.today__element
        div.today__icon.today__icon2
          img(src="img/today2.png").img__min-size
        a(href="#").today__name Шерлок Холмс и Доктор Ватсон
        p.today__time 23:00
      div.today__element
        div.today__icon.today__icon3
          img(src="img/today3.png").img__min-size
        a(href="#").today__name Чемпионат мира по женскому водному поло
        p.today__time 23:30
      div.today__element
        div.today__icon.today__icon4
          img(src="img/today4.png").img__min-size
        a(href="#").today__name Шерлок Холмс и Доктор Ватсон
        p.today__time 23:00
      div.today__element
        div.today__icon.today__icon7
          img(src="img/today5.png").img__min-size
        a(href="#").today__name Название передачи
        p.today__time 23:30
        
